body{
  margin:0;
  padding:header-<length> 0 0 left-sidebar-<length>;
  font-family: 'Inconsolata', serif;
  color: #ecf0f1;
 }
 div#header{
  position:absolute;
  top:0;
  left:0;
  width:500%;
  height:header-<length>;
 }
 div#left-sidebar{
  position:absolute;
  top:header-<length>;
  left:0;
  width:left-sidebar-<length>;
  height:100%;
 }
 @media screen{
  body>div#header{
   position:fixed;
  }
  body>div#left-sidebar{
   position:fixed;
  }
 }
 * html body{
  overflow:hidden;
 } 
 * html div#content{
  height:100%;
  overflow:auto;
 }
 div {
  display: block;
}
body {
    background-color: #f8f8f8;
}
#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}
.container-fluid {
  
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}
.col-lg-4, .col-lg-8,  .col-lg-12, .col-lg-6 , .col-lg-7, .col-lg-5{
    float: left;
	
  }
.col-lg-12 {
    width: 100%;
    min-width:700px;
  }
  
.col-lg-8 {
    width: 66.66666666666666%;
    min-width:400px;
  }
  .col-lg-7 {
    width: 58.3%;
    min-width:300px;
  }
  .col-lg-5 {
    width: 41.7%;
    min-width:300px;
  }
  .col-lg-6 {
    width: 50%;
    min-width:300px;
  }
/*Added this*/
.group {
width: 98%;
min-width: 300px;
padding-right: 15px
}
  
.col-lg-4 {
    width: 33.33333333333333%;
    min-width:200px;
  }
 
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #0e855b;
  padding: 10px
}

.navbar-static-side {
  z-index: 1;
  position: absolute;
  width: 250px;
}
.navbar-default {
  background-color: #222222;
  border-color: #e7e7e7;
}
.panel {
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px
  background-color: #fff;
  /*border: 1px solid transparent;
  border-radius: 3px;*/
  -moz-box-shadow:    5px 5px 1px 2px #ecf0f1;
  -webkit-box-shadow: 5px 5px 1px 2px #ecf0f1;
  box-shadow:         5px 5px 1px 2px #ecf0f1;
}
.panel-default {
  border-color: #ddd;
}
.panel-heading {
  color: #ffffff;
  font-size: 20px;
  font-style: bold;
  background-color: #0cb270;
  border-color: #ddd;
  padding: 15px;
}
.panel-body {
  color:#ecf0f1;
  background-color: #444444;
  border-color: #ddd;
  padding: 10px;
}
nav {
  display: block;
  
}
nav li{
  display: inline;
  border: 1px solid #ddd;
  background-color: #0cb270;
  padding: 8px;
  margin-left: 10px;
  font-size: 20px;
}
a{
  text-decoration:none;
  color: #444444;
}

h1 {
  color:black;
  font-style: bold;
  font-size: 30pt;
}
.group-name{
  text-align: center;
  padding:15px;
}
/*Added this to make it color blue when mouse over:)*/
#GLOW:hover{
color:blue;
}
#listItem{
 position: relative;
display: block;
padding: 10px 15px;
margin-bottom: -1px;
background-color: #ecf0f1;
border: 1px solid #ddd;
color: #444444;
cursor:hand;
}
#listItem:hover{
  background-color: #0cb270; 
}
#fileListItem{
 position: relative;
display: block;
padding: 10px 15px;
margin-bottom: 1px;
background-color: #ecf0f1;
border: 1px solid #ddd;
color: #444444;
cursor:hand;
}
#fileListItem:before{
  content: url(file_icon_ex_sm.png);
  margin-right: 5px;
}
#fileListItem:hover{
  background-color: #0cb270; 
}
#threadItem{
 position: relative;
 color: #444444;
display: block;
padding: 20px;
margin-bottom: 4px;
background-color: #fff;
border: 1px solid #ddd;
}
.postInfo{
  float: right;
  color: #CC0066;
}
.logoImg{
  padding-left: 20px;
  margin-left: 20px

}
/*added --Used for other data--*/
#side_data_s{
  text-align: left;
  position: relative;
  width: 4%;
  padding: 10px;
  margin-bottom: -1px;
  background-color: none;
  border-collapse:collapse;
  color: #444444;
}
/*added --Used for other data--*/
#side_data_m{
  text-align: left;
  position: relative;
  width: 6%;
  padding: 10px;
  margin-bottom: -1px;
  background-color: none;
  border-collapse:collapse;
  color: #444444;
}
/*added --Used for other data--*/
#side_data_l{
  text-align: left;
  position: relative;
  width: 10%;
  padding: 10px;
  margin-bottom: -1px;
  background-color: none;
  border-collapse:collapse;
  color: #444444;
}
/*added --Used for the main data coming in--*/
#main_data{
  font-family: 'Inconsolata', serif;
  text-align: left;
  position: relative;
  width: 60%;
  padding: 10px;
  margin-bottom: -1px;
  background-color: none;
  border: none;
  color: #444444;
}
/*added --Used for the individual forms--*/
#table_contents{
background:none;
border:none;
font-size: 20px;
color:#444444;
text-decoration:underline;
cursor:pointer;
width:100%; 
white-space:normal;
}
#table_contents:hover{
color:blue;
}
/*added --Used for the data rows--*/
#goups_background{
  padding:0px;
  margin-bottom: -1px;
  background-color: none;
  border: 1px solid #ddd;
  color: #444444;
  width:100%;
}
/*added --Used for the data rows--*/

.tr_clickable{
background-color:#ecf0f1;
}
table{
  font-family: 'Inconsolata', serif;
}
/*added --Used for the data rows--
.tr_clickable:hover{
	background-color: #0cb270;
	cursor:pointer;
	cursor:hand;
}
added --Used for the data rows--*/
.tr_non_clickable{
background-color:#ecf0f1;
}

#input_a{
  text-align: left;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ecf0f1;
  border: 1px solid #ddd;
  color: #444444;
  
}
#input_a:hover{
  background-color: #0cb270; 
cursor:pointer;
      cursor:hand;
}
#input_a_active{
  background-color: #0cb270; 
  text-align: left;
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: -1px;
  
  border: 1px solid #ddd;
  color: #444444;
}
#input_a_active:hover{
  background-color: #ecf0f1; 
cursor:pointer;
      cursor:hand;
}
#btn{
  float:right;
  display: inline;
  border: 1px solid #ddd;
  background-color: #ecf0f1;
  padding: 3px;
  color:white;
  margin-right: 20px;
  font-size: 15px; 
}
input:hover{
  
  cursor:pointer;
  cursor:hand;
}
.deleteFile{
  background-color: red;
  margin-bottom: 2px;
}
.groupDesc{
  color:white;
  background-color: #0cb270;
  border: 1px solid;
  margin-bottom:15px;
  font-size: 20px;
  /*max-width: 45%;*/
  margin-left:auto;
  margin-right: auto;
  padding:15px;
}
.col_lg_4_center{
  margin-left:auto;
  margin-right: auto;
  width:33.3%;
}
.postEdit{
  
  color: #2F4F4F;
}
.postEdit:before{
  content: url(edit_icon_sm.png);
  margin-right: 1px;
}
.postDelete{
 
  color: #2F4F4F;
}
.postDelete:before{
  content: url(delete_icon_sm.png);
  margin-right: 1px;
}
.editLink{
    background:none!important;
     border:none; 
     padding:0!important;
}
#homeListItem{
 text-align: left;
  position: relative;
  display: block;
  width: 100%;
  font-size: 20pt;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #ecf0f1;
  border: 1px solid #ddd;
  color: #444444;
}
#homeListItem:hover{
   background-color: #ecf0f1; 
cursor:pointer;
      cursor:hand;
}
#table_contents_file{
background:none;
border:none;
font-size: 15px;
color:#444444;
text-decoration:underline;
cursor:pointer;
}
#table_contents_file:before{
  content: url(file_icon_ex_sm.png);
  margin-right: 5px;
}
.scroll_table_files{
  height:500px;
  overflow-y:scroll;
}
.group_page_title{
  background-color: #444444;
  color:white;
}